/* For NavBar page */
.navBarMain{
    background-color: #FDF5E5;
}
.navbar-collapse {
    flex-grow: 0;
}
.navBarMain .rrrr {
    font-family: 'Pacifico', cursive; 
    margin-right: 7px;
    color: #1BC5B0;
}
.navBarMain .details a{
    margin-right: 18px;
}
.navBarMain .details a:hover
{
    color: #1BC5B0;
}
button{
    background-color: #1BC5B0;
    padding: 10px 20px;
}
button:hover{
    color: #1BC5B0;
    background-color:#0D2834;
    transition: 0.5s;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Main Page */
img{
    height: 75vh;
}
.card {
    overflow: hidden;
}
 .card .cardBackGround {
    transform: translateY(420px);
    transition: transform 0.5s ease-in-out; 
}

 .card:hover .cardBackGround {
    animation: cardMove 1s ease-in-out forwards;
}

@keyframes cardMove {
    0% {
        transform: translateY(420px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.card .fontAwsome{
    padding: 16px 0px 20px;
}
.card .fontAwsome i {
    padding-top: 10px;
    font-size: 24px;
    cursor: pointer;
    opacity: 1;  
     transform: translateX(45px);
   /* transition: transform 1s ease-in-out; */
}
 
.card:hover .fontAwsome i {
    animation: fontAwsomeMove 1.5s ease-in-out forwards;
}

@keyframes fontAwsomeMove {
    0% {
        transform: translateX(45px);
        opacity: 0;
    }
    100% {
        transform: translateX(-30px);
        opacity: 1;
    }
} 
.card-body{
    padding: 0px;
}

.card-img-overlay{
    padding: 0px;
    margin: 0px;
}
.card-text{
    background-color: #1BC5B0;
    position: absolute;
}
.card-text-left, 
.card-text-right {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #1BC5B0;
    top: 0;
    transition: transform 1.5s ease-in-out, background-color 1s ease-in-out;
}

.card-text-left {
    left: 0;
    transform: translateX(-100%);
}

.card-text-right {
    right: 0;
    transform: translateX(100%);
}
.card-text:hover .card-text-left {
    transform: translateX(0);
    background-color: white;
    color: #1BC5B0;
}

.card-text:hover .card-text-right {
    transform: translateX(0);
    background-color: white;color: #1BC5B0;
}
.card-text p{
    position: relative;
    z-index: 100;
    padding: 10px 20px;
    transition: transform 1s ease-in-out;
    color: white;
    transition: color 1.5s ease-in-out, opacity 1.5s ease-in-out;
}
.card-text:hover p {
    color: #1BC5B0;
}

.footerCard {
    background-color: #0D2834;
    padding: 18px 0px;
    transition: background-color 1.5s ease-in-out, color 1.5s ease-in-out;
}
.footerCard:hover {
    background-color: #ffffff;
    
}
.footerCard:hover a{
    color: #0D2834;
}

.footerCard a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}
.footerCard a:hover i{
    transform: translateX(12px);
    transition: 0.7s ease-in;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* over.jsx pafe */
.over{
    background-color: #0D2834;
    margin-bottom: -24px;
}
.over p i:hover{
    color: #1BC5B0;  
}
.over .contactInfo p:hover{
    color: #1BC5B0; 
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* footer page */
.footerr{
    background-color: #FDF5E5;
    color:#1BC5B0; 
    font-size: 15px;
}



@media(max-width:570px){
    img{
        height: 64vh;
    }
    .card{
        margin-bottom: 0px;
    }
    .over{
        display: none;
    }
}